* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1, footer p {
    margin: 0;
}
nav {
    background-color: #343a40;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

li:before {
    content: "\2022"; /* Bullet character */
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* Responsive Design */
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.5rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    main {
        padding: 1rem;
    }
}