* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
#video-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Larghezza massima del video */
    margin: 0 auto; /* Centro il video orizzontalmente */
}

#video-container video {
    width: 100%; /* Imposta la larghezza del video al 100% del contenitore */
    height: auto; /* Altezza automatica per mantenere l'aspetto originale */
    display: block; /* Assicura che il video sia visualizzato come blocco */
    border-radius: 10px; /* Bordo arrotondato per il video */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombra leggera per il video */
}
nav {
    background-color: #343a40;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}